{{>header}}
 {{#if message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
   {{/if}}
    </section>
    <!-- bredcrump-wrapper -->
   <section>
    <div class="breadcrumb-top-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                   <div class="section-bradcrumb">
                       <!-- left -->
                       <div class="breadcrumb-left">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>Doctor Profile</li>
                        </ul>
                        <h4>Profile Settings</h4>
                       </div>
                       
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!-- doctor-dashboard-wrapper -->
    <div class="doctor-dashboard-wrapper bg-light-orange ptb-50">
        <div class="container">
            <div class="row">
                <!-- doctor-dash-left -->
                <div class="col-md-3 col-lg-3 col-sm-3 col-sm-12 col-12">
                  <div class="dash-left">
                      <div class="doct-dash-profile text-center my-3">
                          <div class="pro-img">
                              <img class="img-fluid" src="assets/images/uploads/{{userData.photo}}">
                          </div>
                          <h6>Dr.{{userData.name}}</h6>
                          <span>{{userData.education.[0].degree}}</span>
                      </div>
                      <div class="doc-dash-page-link">
                        {{!-- sidenav --}}
                           <nav>
                                <ul>
                                    <li class="nav-item"><a href="doctor-dashboard" class="nav-link active"><i class="fa fa-columns mr-2"></i>Dashboard</a></li>
                                    <li class="nav-item"><a href="appointment" class="nav-link"><i class="fa fa-calendar-check mr-2"></i>Appointment</a></li>
                                    <li class="nav-item"><a href="patient-list" class="nav-link"><i class="fa fa-wheelchair mr-2"></i>My Patients</a></li>
                                    <li class="nav-item"><a href="doctor-profile-settings?id={{ userData._id }}" class="nav-link"><i class="fa fa-user-md mr-2"></i>Profile Settings</a></li>
                                    <li class="nav-item"><a href="doctor-schedule" class="nav-link"><i class="fa fa-clock mr-2"></i>Schedule Timing</a></li>
                                    <li class="nav-item"><a href="doctor-message" class="nav-link"><i class="fa fa-comments mr-2"></i>Messages</a></li>
                                    <li class="nav-item"><a href="doc-change-password" class="nav-link"><i class="fa fa-lock mr-2"></i>Change Password</a></li>
                                    <li class="nav-item"><a href="#" data-toggle="modal" data-target="#logout-modal" class="nav-link"><i class="fa fa-sign-out-alt mr-2"></i>Logout</a></li>
                                </ul>
                            </nav>
                      </div>
                  </div>
                </div>
                <!-- doctor-dash-right -->
                <div class="col-md-9 col-lg-9 col-sm-9 col-sm-12 col-12">
                 <form action="/doctor-profile-settings?id={{userData._id}}" method="POST" enctype="multipart/form-data">
                    <div class="doc-tor-profile-setting-wrapper">
                        <!-- personal-information -->
                        <div class="card">
                            <div class="card-header">
                                <h6>Basic Information</h6>
                            </div>
                            <div class="card-body">
                              <div class="settings-content-top d-flex">
                                  <!-- photo-view -->
                                  <div class="pro-settings-photo">
                                      <img class="img-fluid" src="assets/images/dashboard/doctor-thumb-02.jpg"  alt="">
                                  </div>
                                  <input type="hidden"name="hidden_id" value="{{userData._id}}">
                                  <!-- photo-upload-field -->
                                  <div class="photo-upload">
                                    <input type="file" name="photo">
                                    <span class="common-button-two">Upload Photo</span>
                                    <label class="custom-file">Allowed JPG, GIF or PNG. Max size of 2MB</label>
                                  </div>
  
                              </div>
                              <div class="row doctor-form">
                                  <!-- username -->
                                  <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                      <div class="form-group">
                                          <label for="username">Username</label>
                                          <input type="text" name="username" value="{{userData.username}}">
                                      </div>
                                  </div>
                                  <!-- email -->
                                  <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" name="email"  value="{{userData.email}}">
                                    </div>
                                </div>
                                <!-- First Name -->
                                <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                    <div class="form-group">
                                        <label for="fisrt name">First Name</label>
                                        <input type="text" name="name"  value="{{userData.name}}">
                                    </div>
                                </div>
                                <!-- Last Name -->
                                <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                    <div class="form-group">
                                        <label for="last name">Last Name</label>
                                        <input type="text" name="lastname"  value="{{userData.lastname}}">
                                    </div>
                                </div>
                                <!-- Phone -->
                                <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                    <div class="form-group">
                                        <label for="phone number">Phone Number</label>
                                        <input type="text" name="doc-userName" id="docUsername" value="{{userData.phone}}">
                                    </div>
                                </div>
                                <!-- Gender -->
                                <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select name="gender" id="">
                                            <option value="{{userData.gender}}">{{userData.gender}}</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Date of Birth -->
                                <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                    <div class="form-group">
                                        <label for="dateofbirth">Date of Birth</label>
                                        <input type="date" name="dateofbirth" id="docUsername" value="{{userData.dateofbirth}}">
                                    </div>
                                </div>
                                 <!-- City -->
                                <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <select name="city" id="">
                                            <option value="{{userData.city}}">{{userData.city}}</option>
                                            <option value="dhaka">Dhaka</option>
                                            <option value="barishal">Barishal</option>
                                            <option value="Chattogram">Chattogram</option>
                                            <option value="Khulna">Khulna</option>
                                            <option value="Rajshahi">Rajshahi</option>
                                            <option value="Sylhet">Sylhet</option>
                                            <option value="Rangpur">Rangpur</option>
                                            <option value="Mymonsing">Mymonsing</option>
                                            
                                        </select>
                                    </div>
                                </div>
                              </div>
  
                            </div>
                        </div>
                        <!-- about-me  -->
                        <div class="card my-3 about-me">
                          <h6 >About me</h6>
                          <div class="form-group">
                              <label for="biography">Biography</label>
                              <textarea name="about" id="" cols="5" rows="3">{{userData.about}}</textarea>
                          </div>
                        </div>
                           <!-- clinic-information -->
                        <div class="card">
                            <div class="card-header">
                                <h6>Clinic Information</h6>
                            </div>
                            <div class="card-body">
                              <div class="settings-content-top d-flex">
                                  <!-- photo-view -->
                                  <div class="pro-settings-photo">
                                      <img class="img-fluid" src="assets/images/dashboard/clinic.jpg" alt="">
                                  </div>
                                  <!-- photo-upload-field -->
                                  <div class="photo-upload">
                                   
                                    <input type="file" name="clinicphoto">
                                    <span class="common-button-two">Upload Photo</span>
                                    <label class="custom-file">Allowed JPG, GIF or PNG. Max size of 2MB</label>
                                  </div>
  
                              </div>
                              <div class="row doctor-form">
                                  <!-- clinic name-->
                                  <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                      <div class="form-group">
                                          <label for="clinicname">Clinic Name</label>
                                          <input type="text" name="clinicname"  value="{{userData.clinicinfo.[0].clinicname}}">
                                      </div>
                                  </div>
                                  <!-- clinic Address -->
                                  <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                    <div class="form-group">
                                        <label for="clinicaddress">Clinic Address</label>
                                        <input type="text" name="clinicaddress"  value="{{userData.clinicinfo.[0].clinicaddress}}">
                                    </div>
                                </div>
                              </div>
  
                            </div>
                        </div>
                        <!-- education-information -->
                        <div class="card my-4">
                            <div class="card-header">
                                <h6>Education</h6>
                            </div>
                            <div class="card-body">
                              <div class="row doctor-form">
                                  <!-- degree -->
                                  <div class="col-md-4 col-lg-4 col-sm-12 col-12 col-xl-4">
                                      <div class="form-group">
                                          <label for="degree">Degree</label>
                                          <input type="text" name="degree" value="{{userData.education.[0].degree}}">
                                      </div>
                                  </div>
                                  <!-- college/Institution -->
                                  <div class="col-md-4 col-lg-4 col-sm-12 col-12 col-xl-4">
                                    <div class="form-group">
                                        <label for="college">College/Institute</label>
                                        <input type="text" name="college" value="{{userData.education.[0].college}}">
                                    </div>
                                  </div>
                                   <!-- Passing Year-->
                                   <div class="col-md-4 col-lg-4 col-sm-12 col-12 col-xl-4">
                                    <div class="form-group">
                                        <label for="passingyear">Passing Year</label>
                                        <input type="text" name="passingyear" value="{{userData.education.[0].passingyear}}">
                                    </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <!-- Experience-information -->
                        <div class="card my-4">
                            <div class="card-header">
                                <h6>Experience</h6>
                            </div>
                            <div class="card-body">
                              <div class="row doctor-form">
                                  <!-- Hospital Name -->
                                  <div class="col-md-4 col-lg-4 col-sm-12 col-12 col-xl-4">
                                      <div class="form-group">
                                          <label for="hospitalname">Hospital Name</label>
                                          <input type="text" name="hosname" value="{{userData.experience.[0].hosname}}">
                                      </div>
                                  </div>
                                  <!-- From date -->
                                  <div class="col-md-4 col-lg-4 col-sm-12 col-12 col-xl-4">
                                    <div class="form-group">
                                        <label for="fromdate">From </label>
                                        <input type="date" name="fromdate" value="{{userData.experience.[0].fromdate}}">
                                    </div>
                                  </div>
                                   <!-- To date -->
                                   <div class="col-md-4 col-lg-4 col-sm-12 col-12 col-xl-4">
                                    <div class="form-group">
                                        <label for="todate">To</label>
                                        <input type="date" name="todate" value="{{ userData.experience.[0].todate}}">
                                    </div>
                                  </div>
                              </div>
  
                            </div>
                        </div>
                         <!-- Registraton-information -->
                        <div class="card my-4">
                            <div class="card-header">
                                <h6>Registration</h6>
                            </div>
                            <div class="card-body">
                              <div class="row doctor-form">
                                  <!-- Registration  Number -->
                                  <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                      <div class="form-group">
                                          <label for="reginumber">Registration Number</label>
                                          <input type="text" name="reginumber" value="{{ userData.registration.[0].reginumber}}">
                                      </div>
                                  </div>
                                  <!-- Year date -->
                                  <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                    <div class="form-group">
                                        <label for="passyear">Year </label>
            
                                        <input type="date" name="passyear" value="{{userData.registration.[0].passyear}}">
                                    </div>
                                  </div>
                              </div>
  
                            </div>
                        </div>
                          <!-- submit-information -->
                        <div class="card my-4">
                            <div class="card-body">
                              <div class="row doctor-form">
                                 <!-- specialties -->
                                 <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                        <div class="form-group">
                                            <label for="specialties">specialties</label>
                                            <select name="specialties" id="">
                                                <option value="{{userData.specialties}}">{{userData.specialties}}</option>
                                                <option value="Allergy and immunology">Allergy and immunology</option>
                                                <option value="Anesthesiology">Anesthesiology</option>
                                                <option value="Dermatology">Dermatology</option>
                                                <option value="Diagnostic radiology">Diagnostic radiology</option>
                                                <option value="Emergency medicine">Emergency medicine</option>
                                                <option value="Family medicine">Family medicine</option>
                                                <option value="Internal medicine">Internal medicine</option>
                                                <option value="Medical genetics">Medical genetics</option>
                                                <option value="Neurology">Neurology</option>
                                                <option value="Nuclear medicine">Nuclear medicine</option>
                                                <option value="Obstetrics and gynecology">Obstetrics and gynecology</option>
                                                <option value="Physical medicine and rehabilitation">Physical medicine and rehabilitation</option>
                                                <option value="Preventive medicine">Preventive medicine</option>
                                                <option value="Psychiatry">Psychiatry</option>
                                                <option value="Radiation oncology">Radiation oncology</option>
                                                <option value="Surgery">Surgery</option>
                                                <option value="Urology">Urology</option>
                                                
                                            </select>
                                        </div>
                                 </div>
                                  <!-- Submit Button -->
                                  <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-xl-6">
                                    <div class="form-group">
                                        <input type="submit" name="submit" value="Update" class="submit-button">
                                    </div>
                                  </div>

                              </div>
  
                            </div>
                        </div>
                    </div>
                 </form>
                </div>
            </div>
        </div>
    </div>
  
   </section>
      <!-- log-out-modal -->
   <section>
        <!-- Modal -->
        <div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-footer">
                  <a href="index.html" class="common-button-two">Confirm Logout</a>
                  <a href="doctor-dashboard.html" class="common-button-two">Back</a>
                </div>
            </div>
            </div>
        </div>
   </section>
   <!-- footer-section -->
  {{>footer}}