{{>header}}
    </section>
    <!-- bredcrump-wrapper -->
   <section>
    <div class="breadcrumb-top-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                   <div class="section-bradcrumb">
                       <!-- left -->
                       <div class="breadcrumb-left">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>Doctor Profile</li>
                        </ul>
                        <h4>My Patient List</h4>
                       </div>
                       
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!-- doctor-dashboard-wrapper -->
    <div class="doctor-dashboard-wrapper bg-light-orange ptb-50">
        <div class="container">
            <div class="row">
                <!-- doctor-dash-left -->
                <div class="col-md-3 col-lg-3 col-sm-3 col-sm-12 col-12">
                  <div class="dash-left">
                      <div class="doct-dash-profile text-center my-3">
                          <div class="pro-img">
                              <img class="img-fluid" src="assets/images/uploads/{{userData.photo}}" alt="thumbdoc.jpg">
                          </div>
                          <h6>Dr.{{userData.name}}</h6>
                          <span>{{userData.education.[0].degree}}</span>
                      </div>
                      <div class="doc-dash-page-link">
                        {{>sidenav}}
                      </div>
                  </div>
                </div>
                <!-- patient list wrapper- -->
                <div class="col-md-9 col-lg-9 col-sm-9 col-sm-12 col-12">
                  <div class="row">
                       {{#each appData}}
                      <!-- single-patient -->
                      <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-12">
                        <div class="card p-4 patient-list-card mb-4">
                            <div class="card-up text-center border-bottom pb-3">
                                <div class="paitent-list-img">
                                    <img src="assets/images/dashboard/patient/patient.jpg" alt="1.png">
                                </div>
                                <h6>{{this.firstname}}</h6>
                                <span><b>Patient Id:</b>#0215</span>
                                <span><b><i class="fa fa-map-marker-alt mr-2"></i></b>{{this.address}}</span>
                            </div>
                               
                       
                            <ul class="my-3">
                                <li class="d-flex justify-content-between"><b>Phone</b><span>{{this.phone}}</span></li>
                                <li class="d-flex justify-content-between"><b>Age</b><span>{{this.age}}</span></li>
                                <li class="d-flex justify-content-between"><b>Blood Group</b><span>o+</span></li>
                            </ul>
                           </div> 
                      </div>
                    
                    {{/each}}   
                  </div>
                  </div>
                </div>
            </div>
    </div> 
   </section>
    <!-- log-out-modal -->
   <section>
        <!-- Modal -->
        <div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-footer">
                  <a href="index.html" class="common-button-two">Confirm Logout</a>
                  <a href="doctor-dashboard.html" class="common-button-two">Back</a>
                </div>
            </div>
            </div>
        </div>
   </section>
   <!-- footer-section -->
   {{>footer}}